body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f4fdff;
    color:#000080;
}

p {
    color: #000080;
}

h1, h2, h3 {
    color: #6338ff;
}

h1 {
    font-size: 2.5 em
}

h2, h3 {
    font-size: 1.5 em
}

nav {background-color: #707070;
    padding: 5px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 770px){ 
    nav a {display: block;} /*things inside brackets only happens when screen size is below max-width....breakpoint*/
    nav span {display: none;}
}

nav a:link{color:#ffffff;}
nav a:visited{color:#ffffff;}


nav a:hover {
    color:#ff7300;
    background-color: #A2DBFA;
}

/*Skills page styling*/
.skillsmainheader {
    text-align: center;
}

.text1 {
    display: flex;
}
.box1 {
    display: flex;
    flex:3;
    text-align: left;
}

.box2 {
    flex:1;
}


img {width:40px;}

.topskills{
    display: flex;
    padding: 30px;
    margin: 10px;
}

.topskills div {
    text-align: center;
    justify-content: center;
}

aside {
    border-radius: 1em;
    padding:5px;
}

.otherskills {
    background-color:#A2DBFA;
}
.allskills {
    display: flex;
}

.flex1 {
    flex: 3;
}
.flex2 {
    flex:2;
}

div {
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}

.otherskills {padding-left: 20px;}

.topskills p {
    text-align: justify;
    padding-top: 5px;
}

#skip {
    position: absolute; /* relative to parent container */
    left: -999px; /* move if off the page */
    background-color: #ff7300;
}
#skip:focus { /*focus means when something is tapped to*/
    left: 200px; /*move our link back on screen to a location when we are focused on it*/
}