body {background-color: #f3f3f3;}

h1, h2, h3, h4, h5 {font-family: 'Reggae One', cursive;}

.headerimg {
    width: 500px;
    max-width: 100%;
    border: none;
    }

header {
    display:flex;
    align-items: center;
    background-color: #000000;
}

.header {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 953px){ 
    header {flex-direction: column;}
     }

nav {
    display: flex;
    justify-content: center;
    background-color: #727679;
    margin: 10px;
    border: 3px solid #CC1111;
    border-radius:10em;
}

nav a{color: #FFFFFF;}

nav div {padding: 10px;
}

/* Text headers */
h1, h2, h3 {color: #1659DA;}

h1 {
    text-shadow:2px 1px #FFFFFF;
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h4, h5 {
    font-size: 1.2em;
} 

/* top image and text */
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.pagepic {
    width: 600px;
    border: 3px solid #CC1111;
}

/*Section 1 content*/
.section1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.p1 {
    flex: 2;
    display: flex;
    align-items: center;
    padding: 20px;
}

.p1pic {
    flex: 1;
    text-align: center;
}
.p1pic img {
    width: 300px;
    border: 3px solid #CC1111;
}


/* Section 2 content */
.section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.p2 {
    flex: 2;
    display: flex;
    align-items: center;
    padding: 20px;
}

.p2pic {
    flex: 1;
    text-align: center;
}
.p2pic img {
    width: 500px;
    border: 3px solid #CC1111;
}

/* section 3 */
.section3 {
    display: flex;
    flex-direction: column;
}

.sec3row1, .sec3row2, .sec3row3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

@media only screen and (max-width: 700px){ 
    .sec3row1, .sec3row2, .sec3row3 {flex-direction: column; align-items: center;}
     }

.s3pic1 img, .s3pic2 img, .s3pic3 img {
    flex:1;
    border: 3px solid #CC1111;
    width: 300px;
}
.s3p1, .s3p2, .s3p3 {
    display: flex;
    align-items: center;
    padding: 20px;
    flex: 2;
}

.s3pic2 {
    order: 1;
}

.s3p2 {
    order: 1;
}



/*picture row 2*/

.youtube2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
}

#powtime {
    border: 3px solid #CC1111;
    max-width:100%;
}

/*comment*/
.commentform {
    display:flex;
    flex-direction: column;
    margin: 50px;
    border: 3px solid #CC1111;
    padding: 20px;
    border-radius: 2em;
}

.commentform div input {
    width: 100%;
}

.commentform div textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.submitbutton {
    width: 50%;
    margin: 0 auto;
}

#sendcomment {
    background-color: black;
    color: white;
}


/*footer*/
footer a:link {
    color: #1659DA;
}

footer {
    background-color: #727679;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}


/*social*/
.footerbox1 {
    display: flex;
    flex: 1;
}
.social {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.linkedinblackimg {
    width:22px;
    border: none;
}

.instagramblacklogo {
    width:28px;
}

.facebooklogo {
    width: 36px;
}


.footerbox1 {
    margin: 10px;
    flex: 0;
}

/*contact*/
.centering {
    border: 3px solid #CC1111;
    padding: 20px;
    border-radius: 2em;
    background-color: #f3f3f3;
    
}
.contactinfo {
    display: flex;
    justify-content: center;
    flex: 2;
    margin:50px;
}

.contactform {
    flex:2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 3px solid #CC1111;
    border-radius: 2em;
}

.contactform div input {
    width: 100%;
}

.contactcomment textarea {
    max-width: 100%;
    min-width: 100%;
}

.contactbutton {
    width: 50%;
    margin: 0 auto;
}

#submitcontact {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 606px){ 
    .pagepic {width: 400px;}
    .footer {flex-direction: column;}
    .social {width: 100%; flex-direction: row; justify-content: space-around;}
}