body {background-color: #f3f3f3;}
.headerimg {
    width: 500px;
    height:333px;
    max-width: 100%;
    border: none;
    }

header {
    display:flex;
    align-items: center;
    background-color: #000000;
}

.header {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 953px){ 
    header {flex-direction: column;}
     }

nav {
    display: flex;
    justify-content: center;
    background-color: #727679;
    margin: 10px;
    border: 3px solid #CC1111;
    border-radius:10em;
}

nav a{color: #FFFFFF;}

nav div {padding: 10px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;

}

.video1 {
    width: 600px;
    height: 350px;
    border: 3px solid #00DDFF;
}


.top div {
    justify-content: center;
    
}

.secondp {
    margin: 20px;
    padding: 10px;
}


.picturerow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.picturerow1 img {
    margin: 10px;
}



.bottomcontent {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.bottomcontent div {
    flex: 3;
    justify-content: center;
    margin-right: 20px;
    min-width: 50%;
}



.bottomcontent aside {
    display: flex;
    flex: 2;
    justify-content: right;
    margin-right: 20px;
}

@media only screen and (max-width: 768px){ 
    .bottomcontent aside {justify-content: center;}
     }


footer {
    background-color: #727679;
    display: flex;
    margin-top: 20px;
}

.social {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
}

.contactinfo {
    flex: 2;
    margin:50px;
    padding: 10px;
}
.contactform {
    flex:2;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 10px;
}

.contactform input, textarea {
    width:100%;
    
}

h1, h2, h3 {color: #1659DA;}

h1 {
    text-shadow:1px 1px #FFFFFF;
    font-size: 4em;
}

h2 {
    font-size: 2em;
}


img {
    border: 3px solid #00DDFF;
    width: 300px;
    height: 200px;
}


.commentform {
    display:flex;
    flex-direction: column;
    margin: 50px;
    border: 3px solid #CC1111;
    padding: 20px;
    border-radius: 2em;
}

.commentform div input, textarea {
    width: 100%;
    border: 1px solid black;
}

.commentform textarea {
    max-width: 100%;
    min-width: 100%;
}

.submitbutton {
    width: 50%;
    margin: 0 auto;
}

#sendcomment {
    background-color: black;
    color: white;
}