body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f4fdff;
    color:#000080;
}

p { color: #000080;
    background-color: #A2DBFA;
    border:5px solid #707070;
    padding: 15px; /* adds space inside box */
    margin: 10px; /* adds space outside box */
}

    a:link {color: #ff7300;} 
    a:visited {color: #000080;} /* changes link after its been clicked*/
    a:hover {text-decoration-style:dotted;} 
    .secondlink {color: #0bce25;}

h1, h2, h3 {
    color: #6338ff;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.5em;
}

nav {background-color: #707070;
    padding: 5px;
    margin-bottom: 30px;
}

nav a:link{color:#ffffff;}
nav a:visited{color:#ffffff;}


nav a:hover {
    color:#ff7300;
    background-color: #A2DBFA;
}
